---
import Link from "./ui/link.astro";
---

<div style="background-color: #ADD8E6; padding: 8px; padding-left: 20px; padding-right: 20px; padding-top: 20px; margin-top: 20px; margin-left: auto; margin-right: auto; max-width: 60rem; border-radius: 0.5rem; display: flex; flex-direction: column; align-items: center; text-align: center; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); transform: scale(1); transition: transform 0.3s ease-in-out;">
  <h2 style="color: #001F3F; font-size: 3.75rem; letter-spacing: -1px; line-height: 1.2; font-family: 'Playfair Display', serif;">
    Illuminate the Spirit, Awaken the Essence.
  </h2>
  <p style="color: #4A4A4A; margin-top: 1rem; font-size: 1.5rem; font-weight: 300; font-style: italic; font-family: 'Georgia', serif;">
    Embark upon a transcendent journey of self-discovery and divine awakening, traversing the ethereal realms of consciousness with each enlightening visual symphony.
  </p>
  <div style="display: flex; margin-top: 1.25rem;">
    <Link href="#" style="inverted">Woke App</Link>
  </div>
</div>
